.header{
	display: flex;
	align-items: center;
	height: 70px;
	background-color: #24292e;
	position: relative;
	color: #fff;
	padding-left: 100px;
	padding-right: 100px;

	&__logo{
		font-size: 26px;
		color: #fff;
		text-decoration: none;
	}
	
	&-list{
		margin: 0;
		padding: 0;
		display: flex;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	
		&__item{
			font-size: 18px;
			list-style-type: none;
			text-decoration: none;
			color: rgba(#fff,0.7);
			transition: 0.3s color;
			margin-right: 30px;

			&.is-active,
			&:hover{
				color: #fff;
			}

			&:last-child{
				margin-right: 0;
			}

		}

		&__link{
			color: inherit;
			text-decoration: none;
		}

	}

}